<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Error"
      internalLogToConsole="true">

	<targets>
		<target name="logfile"
				xsi:type="File"
				fileName="D:\LOGS\RolesAPI\${date:format=yyyy-MM-dd}.txt"
				layout="${longdate}|${mdlc:item=RequestId}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${newline}|${aspnet-request-posted-body}"/>

		<target name="mailAlert" xsi:type="EmailAlert">
			<ApplicationId>Roles API</ApplicationId>
			<ApiURL></ApiURL>
			<From>nchaturvedi@systelusa.com</From>
			<Recipients>nchaturvedi@systelusa.com</Recipients>
			<Subject>Error in Roles.API</Subject>
			<Payload>[${mdlc:item=Payload}]</Payload>
			<layout>
				<![CDATA[
          <h2 style="color: red"> Error in Ti.DTP.Services </h2>
          <hr />
          <table>
		  <tr> <td>Enviornment</td><td>Development</td> </tr>
          <tr> <td>Date/time</td> <td>${longdate}</td> </tr>
          <tr> <td>Request URL</td> <td> ${mdlc:item=RequestUrl}</td> </tr>
          <tr> <td>HTTP request id</td> <td> ${mdlc:item=RequestId}</td> </tr>
          <tr> <td>Additional data</td> <td> ${all-event-properties}</td> </tr>
          <tr> <td>Error Level</td> <td>${uppercase:${level}}</td> </tr>
          <tr> <td>Logger</td> <td>${logger}</td></tr>
          <tr> <td>Message</td> <td>${message}</td></tr>
          <tr> 
            <td colspan="2" style="background-color: #f33;color: white;white-space: pre-wrap;">
                  ${xml-encode:${exception:format=tostring,Data}}
            </td>
          </tr>
          </table>
          ]]>
			</layout>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logfile" />
		<logger name="*" minlevel="Error" writeTo="logfile" />
	</rules>
</nlog>